/* CSS */

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;

}
body {
    background: linear-gradient(to right, #FFFFFF, #CCCCCC, #FFFFFF);
    margin: 0 auto;
    width: 960px;
}
.content {
    background-color: #fff;
    padding: 20px;
    height: 100%;

}
div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    margin-bottom: 30px;
}

#hlEjercicios {
    margin: 50px 0 auto 0;
    display: block;
}